			.nome{
				font-weight: bold;	
				font-size: 17px;
				text-align: center;
			}
			#devj{
				font-style: italic;
				font-size: 25px;
				text-align: center;
			}

			#nomees{
				font-size: 17px;
				text-align: center;
				color: white;
			}
			#Body{
				background-color: blue; 
			}
			header{
				background-color: red; 
				color: white;
			}
			#logo{
				background-color: white;
			}
			nav{
				display: flex;
				background-color: yellow;
				box-shadow: 7px 7px 9px 0px black;
			}
			main{
				background-color: green; 
			}
			#ass{
				background-color: pink; 
			}
			#sex{
				background-color: purple; 
			}
			#art{
				background-color: orange; 
			}
			#art2{
				background-color: brown; 
			}
			#ass2{
				background-color: gray; 
			}
			footer{
				background-color: maroon; 
				width: 100%;
			}
